<h1>{{ title }}</h1>
<p>
Hello, I'm Arisht Jain, and I'm passionate about computer programming with my main focus on full stack Development. With a background in MEAN Stack development and Object-oriented programming in JAVA. 
<br>
<br>
My journey in programming began with a deep curiosity for coding and building logics, and since then, I've dedicated myself to grab every chance to learn programming. 
<br>
<br>
I believe in the power of hardwork and discipline. I'm driven by the idea that practicing and applying the learnt concepts can build strong skills. 
<br>
<br>
In addition to my acedemic endeavors, I like to play chess and I have been playing chess from last 6-7 years. Other than that I love to swim in my free time.
<br>
<br>
I'm excited to connect with others who share my passion for programming, and I'm always open to new opportunities and collaborations. If you'd like to work together or discuss about website development, please feel free to e-mail or text me anytime.
<br>
<br>
Thank you for visiting my portfolio, and I look forward to connecting with you!
</p>