<h1>{{title}}</h1>

<div class="contact-info">
    <div class="info2">
    <h2>Contact Information</h2>
    <p>Email: arishtjain2002@gmail.com</p>
    <p>Phone: (705) 905-2604</p>
    <p>Address: 28 Hickling Trail, Barrie, ON</p>
    </div>
</div>
