<div class="profile-picture">
    <div class="col-lg-12">
    <h1 class="col-lg-5 heading">Hello Everyone!
    <br>
        <h6>This is me, Arisht Jain. Please check out my portfolio to know more about me.</h6>
    </h1>
    </div>
    <div>
        <img class="col-lg-offset-3 pic" src="/public/images/profile.JPG" alt="arisht">
    </div>
</div>
