<h1>{{title}}</h1>
<div class="flexDiv">
    <div class="project-card c1">
    <h3>ASP.net Website</h3>
    <p>Made an E-commerce website using ASP.net and C sharp programming language using the visual studio code IDE in 3rd seemester over a period of 4 months.</p>
</div>
    
<div class="project-card c2">
    <h3>JAVA Android App</h3>
    <p>Made a JAVA android application about car dealership using OOPS concepts in a group of 2 in 3rd semester over a period of 3 months by collecting ideas from different sources.</p>
</div>

<div class="project-card c3">
    <h3>Chat Bot using JAVA </h3>
    <p>Created a chat bot using JAVA core and database integration along with server side and client side backend programming over a period of 5 months and created the user interface using netbeans APACHE.</p>
</div>
</div>
